<?xml version="1.0"?>
<launch>

  <!-- <arg name="rvizconfig" default="$(find tr5_description)/rviz/TR5.rviz" /> -->
  <arg name="gui" default="true" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find tr5_description)/urdf/tr5_robot_basic.urdf.xacro'" />
  <node name="tr5_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node if="$(arg gui)" name="tr5_joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <param name="rate" type="double" value="20.0"/>
  </node>
  <node unless="$(arg gui)" name="tr5_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="rate" type="double" value="20.0"/>
  </node>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

</launch>